/*standard DOM*/
body{
  font-family: 'Lato', sans-serif;
  font-size:1.5em;
  line-height:1.6em;
}
p{
  font-size: 1.4em;
  line-height: 2.1em;
}


/* d3 */
#append {
  padding: 0;
  margin: 0;
}
.county {
stroke: #fff;
} 

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
  shape-rendering:crispEdges;
}
svg{
  shape-rendering:crispEdges;
}

    .bar {
  fill: #6F257F;
}
.axis path,
.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.x path {
  display: none;
}
.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}

.school {
  transition: width 2s;
}
.school-show{
  stroke:rgb(163, 163, 179);
}

.county-show{
  stroke-width:2px;
}


/*other*/
.text-wrapper{
  margin:15vh 0 15vh 0;
}

.percent-table tr:hover{
  background-color:red;
}
.percent-table tr:first-child{
  background-color:initial;
}

.big-text-col{
  z-index:999;
}
.county-highlight{
  fill:blue;
}
#schools-map svg{
  margin-left:400;
}
.map-link{
  border-bottom:2px solid #be3b3b;
}
.map-link:hover{
  color: #be3b3b;
  cursor:pointer;
}

/*shortcut classes*/
.fixed{
  position:fixed;
  top:0;
  display:inline-block;
}
.inline-block{
  display:inline-block!important;
}
.flex-center{
  display:flex;
  justify-content:center;
  align-items:center;
}