body{
  font-family: 'Lato', sans-serif;
  font-size:1.5em;
  line-height:1.6em;
}
p{
  font-size: 1.4em;
  line-height: 2.1em;
}


.school {
  transition: width 2s;
}
.school-show{
  stroke:rgb(163, 163, 179);
}

.county-show{
  stroke-width:2px;
}

.text-wrapper{
  margin:15vh 0 15vh 0;
}


.percent-table tr:hover{
  background-color:red;
}
.percent-table tr:first-child{
  background-color:initial;
}

.big-text-col{
  z-index:999;
}
.county-highlight{
  fill:blue;
}
#schools-map svg{
  margin-left:400;
}
.map-link{
  border-bottom:2px solid #be3b3b;
}
.map-link:hover{
  color: #be3b3b;
  cursor:pointer;
}
.fixed{
  position:fixed;
  top:0;
  display:inline-block;
}
.inline-block{
  display:inline-block!important;
}
